
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}


.todo {
  background-color: black;
  color: white;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.todo.completed {
  background-color: grey;
  text-decoration: line-through;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: white;
}

input::placeholder {
  color: #009900;
  opacity: 1;
}

button {
  background-color:#009900;
  border: 1px solid #009900;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}